@charset "UTF-8";

/* MEDIA DESKTOP */

@media screen and (min-width: 992px){


    main{
        width: 975px;
    }
    
    header h1{
        font-size: 3em;
    }

    menu > ul > li{
        display: inline-block;
        margin-right: 5px;
        padding-left: 20px;
    }

    menu > ul > li > a{
        padding-left: 20px;
        padding-right: 20px;
    }

    section#inicio{
        padding-top: 100px;
    }

    div#bem-vindo h1{
        font-size: 2.4em;
    }

    div.links {
        margin: auto;
        text-align: center;
        width: 150px;
        height: 45px;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        background-color: #D8C0F3;
        color: black;
        padding: 5px;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;
    }

    div.links:hover {
        width: 190px;
        height: 70px;
        background-color: #F23557;
    }

    article img#inteiro{
        display: block;
        position: relative;
        left: -30px;
        top: 25px;
        text-align: center;
        width: 500px;
    }

    article img#cabeca{
        display: none;
    }

    h2{
        font-size: 2em;
    }

    div#container-proj{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: baseline;
        gap: 20px;
    }

    .mais{
        display: none;
    }

    div.projeto img{
        width: 400px;
    }

    div.ctt:hover{
        margin-left: 20px;
        margin-right: 20px;
    }

    div.ctt p{
        margin: 20px;
        font-size: 1em;
    }

    img.ctt {
        margin: 10px;
        margin-bottom: 10px;
        width: 60px;
    }

    footer{
        padding: 4px;
        width: 99%;
    }

}