@charset "UTF-8";

@font-face {
    font-family: 'Titillium';
    src: url('../fontes/TitilliumWeb-Regular.ttf') format('opentype');
}

/* MEDIA MOBILE*/

/*
PALETA DE CORES: 
#D8C0F3 - Roxo clarinho
#F235C8 - Rosa Choque
#CB35F2 - Roxo Escuro
#5035F2 - Azul Arochado
#F23557 - Salmão Forte */

*{
    font-family: 'Titillium', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    background-color: #181818;
    color: white;
}

header{
    background: #181818;
    padding: 20px;
    font-size: 0.6em;
    border-bottom: 1px solid #F23557;
}

main{
    margin: auto;
    background: #181818 url(../imagens/back.jpg) no-repeat;
    background-size: cover;
}


strong{
    color: #D8C0F3;
}

section#inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    height: 550px;
    width: 250px;
}

div#bem-vindo {
    font-size: 1.8em;
    padding: 10px;
}

div#bem-vindo > h2{
    margin-bottom: 30px;
}

div#bem-vindo > p{
    font-size: 0.7em;
}

div#curriculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 180px;
}

div#curriculo a {
    margin: auto;
    text-align: center;
    width: 140px;
    background-color: #5035F2;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 15px 0px;
    box-shadow: 0px 0px 5px #ffffff59;

}

div#curriculo a:hover{
    font-size: 1.2em;
    width: 175px;
    box-shadow: 0px 3px 15px #ffffff59;
    transition: 0.3s ease-in-out;
}

h2{
    color: #CF1D4B;
}

section#quem {
    background: #c7c7c7;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding: 20px 10px 20px 10px;
    text-indent: 10px;
    border-top: 1px solid #F23557;
}

section#quem > div{
    background-color: #c7c7c7;
    border: 2px solid #5035F2;
    color: #555555;
    padding: 10px;
    box-shadow: 0px 0px 10px #5135f254;
}

section#quem strong{
    color: #661423;
}


