@charset "UTF-8";

@font-face {
    font-family: 'Titillium';
    src: url('../fontes/TitilliumWeb-Regular.ttf') format('opentype');
}

/* MEDIA MOBILE*/

*{
    font-family: 'Titillium', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body, html{
    background-color: #b1afaf;
    color: white;
    height: 100vh;
}

header{
    position: sticky;
    top: 0;
    background: #334546;
    padding: 20px;
    font-size: 0.6em;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.459);
}

header h1{
    display: inline-block;
}

main{
    margin: auto;
}

strong{
    color: #12EAF0;
}

strong#name{
    text-shadow: 0px 0px 25px #000000;
}

section#inicio{
    display: flex;
    color:#334546;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-size: cover;
    padding-left: 15px;
    height: 550px;
}

div#bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b1afaf;
    font-size: 0.8em;
    padding: 10px;
    height: 250px;
    margin: auto;
}

div#bem-vindo > h1 {
    font-size: 1.6em;
}

div#bem-vindo > h1 > strong{
    font-size: 1.8em;
    color: #2FC0C5;
}

div#bem-vindo > p{
    font-size: 0.7em;
}

div#contlinks{
    text-align: center;
    margin: auto;
}

div.links:hover{
    transform: scale(106%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.479);
}

div.links img{
    width: 45px;
}

div.links {
    margin: auto;
    text-align: center;
    width: 150px;
    height: 80px;
    font-size: 1em;
    text-decoration: none;
    background-color: #181818;
    border: 2px solid #3E989B;
    color: white;
    padding: 5px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}


a {
    text-decoration: none;
}

h2{
    color: #406F70;
    padding-bottom: 30px;
}

h3{
    color: #3E989B;
}

article > p {
    text-align: justify;
    margin: 10px;
}

section#proj {
    padding: 20px 10px 20px 10px;
    margin-bottom: 100px;
}

div#container-proj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px;
    border: 1px solid #3E989B;
    background: #e4e4e4;
    transition: 0.3s all ease-in-out;
}

div.projeto img{
    margin: auto;
    width: 320px;
    border: 2px solid #334546;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;  
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 0.4s ease 0s;
}

div.projeto img:hover {
    transform: scale(106%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.479);
}


section#contato {
    padding: 20px 10px 20px 10px;
    margin-bottom: 30px;
}

div#cont-ctt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

img.ctt {
    margin: 10px;
    width: 40px;
}

div.ctt{
    text-align: center;
    color: #181818;
    transition: 0.3s all ease-in-out;
}

div.ctt p {
    font-size: 0.6em;
}

div.ctt:hover{
    transform: scale(130%);
}

footer {
    background-color: #334546;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.459);
}





