@charset "UTF-8";

@font-face {
    font-family: 'Titillium';
    src: url('../fontes/TitilliumWeb-Regular.ttf') format('opentype');
}

/* MEDIA MOBILE*/



*{
    font-family: 'Titillium', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    background-color: #111111;
    color: white;
}

header{
    padding: 20px;
    font-size: 0.6em;
    border-bottom: 1px solid #D4F4F4;
}

main{
    margin: auto;
}

strong{
    color: #4c8f8f;
}

section#inicio{
    margin: auto;
    width: 250px;
    height: 520px;
    
}

div#bv {
    margin: auto;
    font-size: 1.8em;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    padding: 10px;
}

div#cv{
    margin: auto;
    width: 96vw;
}

div#cv a {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 140px;
    background-color: #073333;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 170px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #d4f4f442;
}

div#cv a:hover{
    font-size: 1.2em;
    width: 175px;
    box-shadow: 0px 3px 15px #d4f4f442;
    transition: 0.3s ease-in-out;
}

h2{
    color: #8dc2c2;
}

div#bv > h2{
    margin-bottom: 30px;
}

div#bv > p{
    font-size: 0.7em;
}

div#img{
    display: none;
    float: right;
}

div#img > img{
    width: 200px;
}

section#quem {
    background: #073333;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 10px;
    box-shadow: inset 1px 1px 7px #0000008c;
}

section#quem > div{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #8dc2c28c;
}

section#hab{
    padding: 20px;
}

section#hab > img{
    width: 50px;
    padding: 2px;
}

section#hab > img#css{
    width: 37px;
}

section#redes{
    padding: 20px;
}

section#redes > a > img{
    width: 50px;
}

section#redes > img.hover {
    display: none;
}

section#redes > a > img:hover{
    width: 60px;
    transition: 0.3s;
}



