@charset "UTF-8";

/* MEDIA TABLET*/

@media screen and (min-width: 768px) and (max-width: 991px){

    header > h1{
        font-size: 2.5em;
    }

    div#bem-vindo > h1{
        font-size: 2em;
    }

    menu{
        font-size: 1.5em;
    }

    article img#inteiro{
        display: block;
        position: relative;
        left: -30px;
        top: 25px;
        text-align: center;
        width: 500px;
    }
    
    article img#cabeca{
        display: none;
        position: relative;
        top: 12px;
        left: -20px;
        width: 330px;
    }
    
    div.ctt:hover{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    div.ctt p{
        margin: 5px;
        font-size: 1em;
    }
    
    img.ctt {
        margin: 5px;
        margin-bottom: 10px;
        width: 60px;
    }

}